<h2>Edit Staff</h2>
<form action="/reservation/<%= reservation.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/reservation/<%= reservation.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>