<div class="container">
    <h2>New Admin</h2>
    <form action="/admin" method="POST">
        <%- include('_form_fields') %>
        <a href="/admin">Cancel</a>
        <button type="submit">Create</button>
    </form>
</div>