<header>
    <nav>
        <a href="/">Main Page</a>
        <ul>
            <li><a href="/admin">Jimbo</a></li>
            <li><a href="/admin/new">Novo Jimbo</a></li>
        </ul>
    </nav>
</header>