<header>
    <nav>
        <a href="/">Main Page</a>
        <ul>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/admin/new">New Admin</a></li>
            <li><a href="/staff">Staff</a></li>
            <li><a href="/staff/new">New Staff</a></li>
        </ul>
    </nav>
</header>