<header>
    <nav>
        <a href="/">Main Page</a>
        <ul>
            <li><a href="/admin">Admins</a></li>
            <li><a href="/admin/new">New Admin</a></li>
            <li><a href="/staff">Staffs</a></li>
            <li><a href="/staff/new">New Staff</a></li>
            <li><a href="/customer">Customers</a></li>
            <li><a href="/customer/new">New Customer</a></li>
            <li><a href="/pet">Pets</a></li>
            <li><a href="/pet/new">New Pet</a></li>
            <li><a href="/hotel">Hotels</a></li>
            <li><a href="/hotel/new">New Hotel</a></li>
            <li><a href="/reservation">All Reservations</a></li>
            <li><a href="/reservation/new">New Reservation</a></li>
        </ul>
    </nav>
</header>