<!-- partial file! -->
<div class="form-row">
    <div class="form-item">
        <label>Set Room Number</label>
        <input type="number" name="roomNumber" value="<%= room.roomNumber %>">
    </div>

    <div class="form-item">
        <label>Set Room Typology</label>
        <input type="typology" name="typology" value="<%= room.typology %>">
    </div>

    <div class="form-item">
        <label>Set Daily Price</label>
        <input type="number" name="dailyPrice" value="<%= room.dailyPrice %>">
    </div>

    <div class="form-item">
        <label>Set Room Capacity</label>
        <input type="number" name="capacity" value="<%= room.capacity %>">
    </div>

    <div class="form-item">
        <label>Set Room Photo*</label>
        <input type="file" name="photo">
    </div>
</div>