<div class="form-container">
    <h2>New Reservation</h2>
    <form action="/staff/manage-reservations" method="POST">
        <%- include('_form_fields') %>
        <a href="/staff/manage-reservations">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>