<h2>Edit Pet</h2>
<form action="/pet/<%= pet.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/pet/<%= pet.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>