<header>
    <nav>
        <div class="header-title">  
            <a routerLink="/">
                <img class="main" height="125" width="97.5" src="/assets/niceGuy.png">
                Nice Guy<br> Hotel™
            </a>
        </div>
        <div class="header-options">
            <div *ngIf="!isLoggedIn" class="header-option">
                <a routerLink="/login">Login</a>
            </div>
            <div *ngIf="!isLoggedIn" class="header-option">
                <a routerLink="/register">Register</a>
            </div>
            <div *ngIf="isLoggedIn" class="header-option">
                <a (click)="logout()">Logout</a>
            </div>
            <div *ngIf="isLoggedIn" class="header-option">
                <a routerLink="/profile/">Profile</a>
            </div>
            <div *ngIf="isLoggedIn" class="header-option">
                <a routerLink="/reservations">Your Reservations</a>
            </div>
            <div *ngIf="isLoggedIn" class="header-option">
                <a routerLink="/giftcards">Your Gift Cards</a>
            </div>
        </div>
    </nav>
</header>