<header>
    <div class="container">
        <a routerLink="/" class="logo">
            Animal Hotel
        </a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Fulano</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/reservations">Reservations</a>
                        <a routerLink="/pets">Your Pets</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span>3</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>