<header>
    <nav>
        <div class="header-title">
            <a href="/">Animal Hotel</a>
        </div>
        <div class="header-options">
            <div class="header-option">
                <a href="/admin">Admins</a>
                <div class="dropdown">
                    <a href="/admin/new">New Admin</a>
                </div>
            </div>
            <div class="header-option">
                <a href="/staff">Staffs</a>
                <div class="dropdown">
                    <a href="/staff/new">New Staff</a>
                </div>
            </div>
            <div class="header-option">
                <a href="/customer">Customer</a>
                <div class="dropdown">
                    <a href="/customer/new">New Customer</a>
                </div>
            </div>
            <div class="header-option">
                <a href="/pet">Pets</a>
                <div class="dropdown">
                    <a href="/pet/new">New Pet</a>
                </div>
            </div>
            <div class="header-option">
                <a href="/hotel">Hotels</a>
                <div class="dropdown">
                    <a href="/hotel/new">New Hotel</a>
                </div>
            </div>
            <div class="header-option">
                <a href="/reservation">Reservations</a>
                <div class="dropdown">
                    <a href="/reservation/new">New Reservation</a>
                </div>
            </div>
        </div>
    </nav>
</header>