.search {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 1.5rem;
}

.search-box {
    background-color: var(--color-background-light);
    border-radius: 10rem 0 0 10rem;
    border: 5px solid var(--color-border);
    height: 5px;
    width: 30%;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
}