<div class="form-row">
    <div class="form-item">
        <label>Description:</label>
        <input type="text" name="description" value="<%= giftCard.description %>">
    </div>
    <div class="form-item">
        <label>Discount:</label>
        <input type="number" name="discount" value="<%= giftCard.discount %>">
    </div>

</div>