.form-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1200px; */
  /* margin: auto; */
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background-color: var(--color-background);
  border: 5px solid var(--color-border);
  padding: 10px 0;
  border-radius: 0.5rem;
}

.form-row {
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .form-item:first-child {
  margin-left: 0;
}

.form-item-no-grow {
  flex-grow: 0;
}

.form-row-end {
  justify-content: flex-end;
} */

label {
  font-size: var(--form-label-font-size);
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

input,
select,
textarea {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  height: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  outline: none;
  height: 100%;
}

textarea {
  height: 100%;
  resize: none;
}

select option {
  background-color: var(--color-background-light);
}

select option:hover {
  background-color: var(--color-border);
}


/* select {
  background-color: #f0f0f0; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select option {
  background-color: #fff; 
  color: #000; 
}

select option:hover {
  background-color: #ccc; 
  color: #000; 
} */
