<h2>Edit Customer</h2>
<form action="/customer/<%= customer.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/customer/<%= customer.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>