<div class="form-container">
<h2>Edit Staff</h2>
<form action="/staff/<%= staff.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/staff/<%= staff.id %>">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
</form>
</div>