<div class="form-container">
    <h2>New Staff</h2>
    <form action="/staff" method="POST">
        <%- include('_form_fields') %>
        <a href="/staff">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>