<!-- partial file! -->

<div>
<label>Name</label>
<input type="text" name="name" value="<%= staff.name %>">
</div>

<div>
<label>Email</label>
<input type="email" name="email" value="<%= staff.email %>">
</div>

<div>
<label>Password</label>
<input type="text" name="password" value="<%= staff.password %>">
</div>